# env postgresql
DB_POSTGRES_DB=your_postgres_database_name
DB_POSTGRES_USER=your_postgres_user
DB_POSTGRES_PASS=your_postgres_password

#env mongodb
DB_MONGO_USER=your_mongo_user
DB_MONGO_PASS=your_mongo_pass
DB_MONGO_DB=your_mongo_database_name

#env rabbitmq
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASS=your_rabbitmq_pass
